<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AphaSoft</title>
    <script src="/index.js"></script>

    <style type="text/tailwindcss">
        @layer components{
            .all-customers{
                @apply bg-white rounded-[30px] p-8
            }
            .all-customers .top {
                @apply flex justify-between
            }
            .table{
                @apply min-w-full bg-white border border-gray-300 rounded-lg shadow-sm border-0 mt-8
            }
            .th{
                @apply px-4 py-2 font-semibold text-[#B5B7C0]
            }
            .td{
                @apply px-4 py-2 text-[#292D32]
            }
            .border-t{
                @apply  border-[#EEEEEE] h-[50px]
            }
            .btn{
                @apply px-4 py-2 text-black rounded bg-[#F5F5F5]
            }
            .btn.active{
                @apply bg-[#5932EA] text-white
            }
            .statut{
                @apply px-4 py-1 text-[14px] border-1 rounded block w-[90px] text-center
            }
            .statut.active{
                @apply bg-[#16C09861] border-[#00B087]  text-[#00B087]
            }
            .statut.inactive{
                @apply bg-[#FFC5C5] border-[##DF0404] text-[#DF0404]
            }
            .head{
                @apply grid
            }
        }
    </style>
</head>

<body class="container w-[1000px] mx-auto bg-blue-400">
    <div class="head w-full my-4">
        <div class="flex justify-between">
            <h1 class="text-[24px]">Hello Evano 👋🏼,</h1>
            <div class="search bg-[#FFFFFF] w-[216px] h-[38] rounded-[10px] flex items-center">
                <img src="/icons/search.svg" alt="" class="h-[24px] w-[24px] p-1">
                <input type="text" placeholder="search" class="h-[24px]">
            </div>
        </div>
    </div>
    <div class="all-customers">
        <div class="top">
            <div class="left">
                <h1 class="text-[22px] text-600 text-black">All Customers</h1>
                <span class="text-[14px] text-[#16C098] text-[400]">Active Members</span>
            </div>
            <div class="right flex">
                <div class="search bg-[#F9FBFF] w-[216px] h-[38px] rounded-[10px] flex items-center">
                    <img src="/icons/search.svg" alt="" class="h-[24px] w-[24px] p-1">
                    <input type="text" placeholder="search" class="h-[24px]">
                </div>
                <div class="bg-[#F9FBFF] w-[154px] h-[38px] rounded-lg flex items-center px-2 relative">
                    <select name="shot" class="bg-transparent outline-none text-sm w-full appearance-none pr-6">
                        <option value="#">Short by : Newest</option>
                    </select>
                    <img src="/icons/fleche-bas.svg" alt="Icône flèche bas"
                        class="w-4 h-4 absolute right-2 pointer-events-none">
                </div>
            </div>
        </div>
        <table class="table">
            <thead>
                <tr class="text-left">
                    <th class="th">Customer Name</th>
                    <th class="th">Company</th>
                    <th class="th">Phone Number</th>
                    <th class="th">Email</th>
                    <th class="th">Country</th>
                    <th class="th">Status</th>
                </tr>
            </thead>
            <tbody>
                <tr class="border-t">
                    <td class="td">Jane Cooper</td>
                    <td class="td">Microsoft</td>
                    <td class="td">(225) 555-0118</td>
                    <td class="td">jane@microsoft.com</td>
                    <td class="td">United States</td>
                    <td class="px-4 py-2">
                        <span class="statut active">Active</span>
                    </td>
                </tr>
                <tr class="border-t">
                    <td class="td">Jane Cooper</td>
                    <td class="td">Microsoft</td>
                    <td class="td">(225) 555-0118</td>
                    <td class="td">jane@microsoft.com</td>
                    <td class="td">United States</td>
                    <td class="px-4 py-2">
                        <span class="statut inactive">Inactive</span>
                    </td>
                </tr>
                <tr class="border-t">
                    <td class="td">Jane Cooper</td>
                    <td class="td">Microsoft</td>
                    <td class="td">(225) 555-0118</td>
                    <td class="td">jane@microsoft.com</td>
                    <td class="td">United States</td>
                    <td class="px-4 py-2">
                        <span class="statut active">Active</span>
                    </td>
                </tr>
                <tr class="border-t">
                    <td class="td">Jane Cooper</td>
                    <td class="td">Microsoft</td>
                    <td class="td">(225) 555-0118</td>
                    <td class="td">jane@microsoft.com</td>
                    <td class="td">United States</td>
                    <td class="px-4 py-2">
                        <span class="statut inactive">Inactive</span>
                    </td>
                </tr>
                <tr class="border-t">
                    <td class="td">Jane Cooper</td>
                    <td class="td">Microsoft</td>
                    <td class="td">(225) 555-0118</td>
                    <td class="td">jane@microsoft.com</td>
                    <td class="td">United States</td>
                    <td class="px-4 py-2">
                        <span class="statut active">Active</span>
                    </td>
                </tr>
                <tr class="border-t">
                    <td class="td">Jane Cooper</td>
                    <td class="td">Microsoft</td>
                    <td class="td">(225) 555-0118</td>
                    <td class="td">jane@microsoft.com</td>
                    <td class="td">United States</td>
                    <td class="px-4 py-2">
                        <span class="statut inactive">Inactive</span>
                    </td>
                </tr>
                <tr class="border-t">
                    <td class="td">Jane Cooper</td>
                    <td class="td">Microsoft</td>
                    <td class="td">(225) 555-0118</td>
                    <td class="td">jane@microsoft.com</td>
                    <td class="td">United States</td>
                    <td class="px-4 py-2">
                        <span class="statut active">Active</span>
                    </td>
                </tr>
                <tr class="border-t">
                    <td class="td">Jane Cooper</td>
                    <td class="td">Microsoft</td>
                    <td class="td">(225) 555-0118</td>
                    <td class="td">jane@microsoft.com</td>
                    <td class="td">United States</td>
                    <td class="px-4 py-2">
                        <span class="statut inactive">Inactive</span>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr class="">
                    <td colspan="6" class="px-4 py-2 text-gray-600">
                        <div class="w-full flex justify-between items-center">
                            <p>Showing data 1 to 8 of 256K entries</p>
                            <div class="pagination flex items-center space-x-2 mt-2">
                                <button class="back btn">
                                    < </button>
                                        <button class="btn active ">1</button>
                                        <button class="btn">2</button>
                                        <button class="btn">3</button>
                                        <button class="btn">4</button>
                                        <span class="text-gray-500">...</span>
                                        <button class="btn">40</button>
                                        <button class="next btn">></button>
                            </div>
                        </div>
                    </td>
                </tr>
            </tfoot>
        </table>
    </div>

</html>