<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AphaSoft</title>
    <script src="/index.js"></script>
    <style type="text/tailwindcss">
        * {
            box-sizing: border-box;
        }
        @layer base{
            li{
                @apply hover:text-green-400
            }
        }
    </style>
</head>

<body class="container bg-black text-white py-4 px-40">
    <h1 class="text-[50px]">Bienvenu sur <span class="text-green-400">AlphaCode</span></h1>
    <div class="flex justify-between pt-8">
        <div class="backend">
            <h3 class="text-[25px]">Projets Backend Ruby</h3>
            <li class="p-2 text-lg">
                <a href="/isogram">Determiner si un mot ou une phrase est un isogram ou pas</a>
            </li>
            <li class="p-2 text-lg">
                <a href="/calculator">Une calculatrice simple avec les opérations de base</a>
            </li>
            <li class="p-2 text-lg">
                <a href="/adn">Calculer la distance entre 2 ADN</a>
            </li>
            <li class="p-2 text-lg">
                <a href="/students">Gestion des élèves</a>
            </li>
            <li class="p-2 text-lg">
                <a href="/help">ResistorDecoder</a>
            </li>
            <li class="p-2 text-lg">
                <a href="/recorder">ResistorDecoder 2</a>
            </li>
            <li class="p-2 text-lg">
                <a href="/blog">Blog</a>
            </li>
        </div>
        <div class="font-end">
            <h3 class="text-[25px]">Projets Font-end</h3>
            <li class="p-2 text-lg">
                <a href="/dashbord">Dashbord avec tailwind css</a>
            </li>
        </div>
    </div>
    <footer class="w-[100%] h-[50px] text-green-400 flex justify-center items-center block">
        Hamidou Souley Imrane 2025
    </footer>
</body>

</html>