<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AphaCode - ResistorDecoder</title>
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-black text-white flex flex-col min-h-screen  md:px-4">

    <!-- Header -->
    <header class="text-center mt-10">
        <h1 class="text-4xl sm:text-5xl md:text-6xl font-extrabold tracking-wide">
            Bienvenue sur <span class="text-green-400">AlphaCode</span>
        </h1>
    </header>

    <!-- Section Profil -->
    <section class="flex justify-center mt-8">
        <img src="/imgs/moi.png" 
             alt="Photo de profil"
             class="h-32 md:h-40 rounded-[20px] border-1 border-green-400 shadow-lg">
    </section>

    <!-- Main Content -->
    <main class="mt-10 grid grid-cols-1 md:grid-cols-2 gap-10 flex-grow">
        <!-- Section Projets Backend Ruby -->
        <section class="bg-gray-900 p-6 rounded-xl shadow-lg">
            <h3 class="text-2xl font-semibold mb-4 text-green-400">
                Projets Backend Ruby
            </h3>
            <ul class="space-y-2">
                <!-- <li><a href="/academix">Présentation ACADEMIX</a></li> -->
                <li><a href="/isogram">Déterminer si un mot est un isogramme</a></li>
                <li><a href="/calculator">Calculatrice simple</a></li>
                <li><a href="/adn">Distance entre 2 ADN</a></li>
                <li><a href="/recorder1">ResistorDecoder</a></li>
                <li><a href="/recorder2">ResistorDecoder 2</a></li>
                <li><a href="/blog">Blog</a></li>
                <li><a href="/bank">Back système - Gestion de banque</a></li>
            </ul>
        </section>

        <!-- Section Projets Frontend -->
        <section class="bg-gray-900 p-6 rounded-xl shadow-lg">
            <h3 class="text-2xl font-semibold mb-4 text-green-400">
                Projets Frontend
            </h3>
            <ul class="space-y-2">
                <li><a href="/dashboard">Dashboard avec Tailwind CSS</a></li>
                <li><a href="/tp1js">TP1 JS</a></li>
                <li><a href="/calc">Calculatrice</a></li>
                <li><a href="/citation">Générateur de citations aléatoires</a></li>
                <li><a href="/jeu_mystere">Jeu du nombre mystère</a></li>
            </ul>
        </section>
    </main>

    <!-- Footer -->
    <footer class="bg-gray-800 text-center text-white py-4 mt-10">
        &copy; 2025 AphaSoft - Tous droits réservés
    </footer>

</body>

</html>
