<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projet 1</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>
    <nav>
        <div class="logo">IHS</div>
        <div class="links">
            <a href="">About Me</a>
            <a href="">Services</a>
            <a href="">Projects</a>
            <a href="" class="active">Contact Me</a>
        </div>
    </nav>
    <header>
        <div class="left">
            <div class="top">
                <h2>Hey there, I'm Imrane, A UX <br>Researcher & Product Designer</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod iure unde facere delectus non, aperiam
                    soluta itaque excepturi eveniet! Ullam corrupti possimus vero laborum ea id ipsam maiores est a?</p>
            </div>
            <div class="bottom">
                <a href="#" class="active">Discover My Work</a>
            </div>
        </div>
        <div class="right">
            <!-- <img src="/imgs/moi.jpg" alt="Une image ici"> -->
        </div>
    </header>

    <div class="services">
        <h2 class="title">Services</h2>
        <div class="list-services">
            <div class="service">
                <h3>Product Disign & UI/UX</h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quo iusto officia sunt vel. Maiores
                ducimus repudiandae explicabo maxime doloribus earum illum nulla aliquam cupiditate! Blanditiis vitae
                accusamus neque reprehenderit?
            </div>
            <div class="service">
                <h3>Strategy & Direction</h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quo iusto officia sunt vel. Maiores
                ducimus repudiandae explicabo maxime doloribus earum illum nulla aliquam cupiditate! Blanditiis vitae
                accusamus neque reprehenderit?
            </div>
            <div class="service">
                <h3>Motion Graphics & Animation</h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quo iusto officia sunt vel. Maiores
                ducimus repudiandae explicabo maxime doloribus earum illum nulla aliquam cupiditate! Blanditiis vitae
                accusamus neque reprehenderit?
            </div>
            <div class="service">
                <h3>WireFrames & Prototype</h3>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam quo iusto officia sunt vel. Maiores
                ducimus repudiandae explicabo maxime doloribus earum illum nulla aliquam cupiditate! Blanditiis vitae
                accusamus neque reprehenderit?
            </div>
        </div>
    </div>

    <hr>

    <div class="projects">
        <h2 class="title">Projects & My Work</h2>
        <div class="list-projects">
            <div class="project">
                <img src="/imgs/nodejs-original.svg" alt="image ici">
            </div>
            <div class="project">
                <img src="/imgs/nodejs-original.svg" alt="image ici">
            </div>
            <div class="project">
                <img src="/imgs/nodejs-original.svg" alt="image ici">
            </div>
            <div class="project">
                <img src="/imgs/nodejs-original.svg" alt="image ici">
            </div>
            <div class="project">
                <img src="/imgs/nodejs-original.svg" alt="image ici">
            </div>
            <div class="project">
                <img src="/imgs/nodejs-original.svg" alt="image ici">
            </div>
        </div>
        <a href="#">See All Project</a>
    </div>

    <hr>

    <div class="testimonials">
        <h3 class="title">Testimonials</h3>
        <div class="list-testimonial">
            <div class="testimonial">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint consequatur soluta numquam. Quam
                    praesentium fugit quaerat autem harum atque eius, ipsum possimus molestias aperiam fugiat sunt omnis
                    deleniti tempore laudantium?
                </p>
                <div class="bottom">
                    <img src="/imgs/nodejs-original.svg" alt="">
                    <div class="column">
                        <h4>Lorem ipsam</h4>
                        <small>Facebook</small>
                    </div>
                </div>
            </div>

            <div class="testimonial">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint consequatur soluta numquam. Quam
                    praesentium fugit quaerat autem harum atque eius, ipsum possimus molestias aperiam fugiat sunt omnis
                    deleniti tempore laudantium?
                </p>
                <div class="bottom">
                    <img src="/imgs/nodejs-original.svg" alt="">
                    <div class="column">
                        <h4>Lorem ipsam</h4>
                        <small>Twiter</small>
                    </div>
                </div>
            </div>

            <div class="testimonial">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint consequatur soluta numquam. Quam
                    praesentium fugit quaerat autem harum atque eius, ipsum possimus molestias aperiam fugiat sunt omnis
                    deleniti tempore laudantium?
                </p>
                <div class="bottom">
                    <img src="/imgs/nodejs-original.svg" alt="">
                    <div class="column">
                        <h4>Lorem ipsam</h4>
                        <small>Dribble</small>
                    </div>
                </div>
            </div>

            <div class="testimonial">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Sint consequatur soluta numquam. Quam
                    praesentium fugit quaerat autem harum atque eius, ipsum possimus molestias aperiam fugiat sunt omnis
                    deleniti tempore laudantium?
                </p>
                <div class="bottom">
                    <img src="/imgs/nodejs-original.svg" alt="">
                    <div class="column">
                        <h4>Lorem ipsam</h4>
                        <small>Pinterest</small>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <hr>

    <div class="remind">
        <div class="left">
            <h1>Just to remind you, I'm Imrane, A UX Rechearcher & Product Designer from Niamey, Niger</h1>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sed molestias fugiat, cupiditate dignissimos
                nihil ipsum nobis, at aut tempora quos quidem. Cum quisquam aliquam quas ea blanditiis dolorem nisi id.
            </p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia quos quaerat ullam, omnis nobis
                molestiae obcaecati saepe nemo odio impedit veritatis blanditiis illum quo fugiat, repudiandae animi
                vitae cum reprehenderit.</p>
            <a href="#" class="active">Dowload Resume</a>
        </div>
        <div class="right">
            <div class="img">
                <img src="/imgs/nodejs-original.svg" alt="">
            </div>
            <div class="icons">
                <img src="/imgs/nodejs-original.svg" alt="">
                <img src="/imgs/nodejs-original.svg" alt="">
                <img src="/imgs/nodejs-original.svg" alt="">
            </div>
        </div>
    </div>

    <footer>
        <div class="top">
            <div class="left">
                <div class="logo"></div>
                <h3>Imrane Hamidou</h3>
                <p>UX Rechearcher</p>
                <p>Email me at</p>
                <p>hamidousouleyimrane@gmail.com</p>
            </div>
            <div class="right">
                <h3>Lets Talk!</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis sint ipsum amet debitis molestiae,
                    nesciunt
                    mollitia, facilis sunt repellat dolorum veritatis voluptates delectus, quidem assumenda ea
                    perspiciatis!
                    Labore, quibusdam sint?</p>
                <div class="icons">
                    <img src="/imgs/nodejs-original.svg" alt="">
                    <img src="/imgs/nodejs-original.svg" alt="">
                    <img src="/imgs/nodejs-original.svg" alt="">
                </div>
            </div>
        </div>
        <hr>
        <div class="bottom">
            <div class="left">
                <a href="">About Me</a>
                <a href="">Services</a>
                <a href="">Projects</a>
                <a href="">Contact Me</a>
            </div>
            <div class="right">
                Lorem ipsum dolor sit, amet consectetur adipisicing elit
            </div>
        </div>
    </footer>

</body>

</html>