<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ajouter un Post</title>
    <script src="/index.js"></script>
</head>
<body class="bg-black p-8 ">
    <div class="max-w-4xl mx-auto">
        <h1 class="text-3xl font-bold text-center mb-8 text-white">
            <%if add %>
            Ajouter un Nouveau Post
            <% else %>
            Modification article
            <% end %>
        </h1>

        <form id="addPostForm" class="bg-white p-6 rounded-lg shadow-md" method="post">
            <p class="text-red-500"> <%= erreur %> </p>
            <div class="mb-4">
                <label for="title" class="block text-gray-700 font-semibold mb-2">Titre</label>
                <input type="text" id="title" name="title" value="<%=post["title"] %>" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" placeholder="Entrez le titre du post">
            </div>

            <div class="mb-6">
                <label for="description" class="block text-gray-700 font-semibold mb-2">Contenu</label>
                <textarea id="description" name="content" class="w-full px-4 py-2 border rounded-lg focus:outline-none focus:ring-2 focus:ring-blue-500" rows="4" placeholder="Entrez la contenu du post" ><%=post["content"]%></textarea>
            </div>

            <div class="text-right">
                <a type="submit" href="/blog" class="mr-2 bg-red-500 text-white px-4 py-2 rounded hover:bg-red-600">
                    Annuler
                </a>
                <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600">
                    <%if add %>
                    Créer
                    <% else %>
                    Modifier
                    <% end %>
                </button>
            </div>
        </form>
    </div>
</body>
</html>